// Icon colors
$wk-heart-color-button: 'rgb(66,66,66)';
$wk-heart-color-header: 'rgb(66,66,66)';

// Wishlist button
$wk-button-color: #333333;
$wk-button-font-size: 13px;
$wk-button-font-weight: 700;
$wk-button-backgrund-color: rgba(0,0,0,0.1);

// Text button (e.g. clear list)
$wk-text-button-background: #333333;
$wk-text-button-color: #ffffff;
$wk-text-button-font-size: 11px;
$wk-text-button-background-hover: #555555;
$wk-text-button-color-hover: #ffffff;

// Wishlist dropdown
$wk-dropdown-background: #ffffff;
$wk-dropdown-color: #555555;
$wk-dropdown-border: 1px solid #dedede;
$wk-dropdown-border-radius: 4px;
$wk-dropdown-item-border-bottom: 1px solid #eeeeee;
$wk-dropdown-price-color: #999999;

// Wishlist page
$wk-page-price-color: #555555;
$wk-page-title-color: #333333;
$wk-variant-form-background: rgba(255,255,255,.95);
$wk-add-to-cart-background: #f45b4f;
$wk-add-to-cart-font-size: 13px;
$wk-add-to-cart-font-weight: 700;
$wk-add-to-cart-color: #ffffff;
$wk-image-ratio-width: 1;
$wk-image-ratio-height: 1;

// Heart icons
@mixin wk-heart-full-icon($color, $width: 15px, $height: 15px) {
  $wk-heart-full-svg: "%3Csvg%20version%3D'1.1'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'64'%20height%3D'64'%20viewBox%3D'0%200%2064%2064'%3E%3Cpath%20d%3D'M47.199%204c-6.727%200-12.516%205.472-15.198%2011.188-2.684-5.715-8.474-11.188-15.201-11.188-9.274%200-16.8%207.527-16.8%2016.802%200%2018.865%2019.031%2023.812%2032.001%2042.464%2012.26-18.536%2031.999-24.2%2031.999-42.464%200-9.274-7.527-16.802-16.801-16.802z'%20fill%3D'#{$color}'%3E%3C%2Fpath%3E%3C%2Fsvg%3E";

  @include wk-svg-icon($wk-heart-full-svg, $width, $height);
}

@mixin wk-heart-empty-icon($color, $width: 15px, $height: 15px) {
  $wk-heart-empty-svg: "%3Csvg%20version%3D'1.1'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'64px'%20height%3D'60.833px'%20viewBox%3D'0%200%2064%2060.833'%3E%3Cpath%20stroke%3D'#{$color}'%20stroke-width%3D'5'%20stroke-miterlimit%3D'10'%20fill-opacity%3D'0'%20d%3D'M45.684%2C2.654c-6.057%2C0-11.27%2C4.927-13.684%2C10.073%20c-2.417-5.145-7.63-10.073-13.687-10.073c-8.349%2C0-15.125%2C6.776-15.125%2C15.127c0%2C16.983%2C17.134%2C21.438%2C28.812%2C38.231%20c11.038-16.688%2C28.811-21.787%2C28.811-38.231C60.811%2C9.431%2C54.033%2C2.654%2C45.684%2C2.654z'%2F%3E%3C%2Fsvg%3E";

  @include wk-svg-icon($wk-heart-empty-svg, $width, $height);
}

@mixin wk-svg-icon($svg, $width, $height){
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: $width;
    height: $height;
    background-image: url("data:image/svg+xml;charset=UTF-8,#{$svg}");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    left: calc(50% - #{$width} * .5);
    top: calc(50% - #{$height} * .5);
  }
}

@mixin wk-hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin wk-clearfix {
  clear: both;
  overflow: hidden;
}

@mixin wk-aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .wk-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.wk-centered {
  text-align: center;
}

.wk-block {
  display: block;
}

/*/////////////////////////////////////////////////////////////////////////////*/
/* !BUTTONS
/*////////////////////////////////////////////////////////////////////////////*/

@mixin wk-icon-button {
  @include wk-hide-text;

  background-color: $wk-button-backgrund-color;
  background-position: center center;
  border: none;
  border-radius: 50%;

  width: 25px;
  height: 24px;

  padding: 0;
  margin: 0;

  &:focus {
    outline:0;
  }
}

button.wk-icon-button-remove {
  @include wk-heart-full-icon($wk-heart-color-button, 15px, 15px);
}

button.wk-icon-button-add {
  @include wk-heart-empty-icon($wk-heart-color-button, 15px, 15px);
}

button.wk-icon-button-add,
button.wk-icon-button-remove {
  @include wk-icon-button;

  // Top right corner
  position: absolute;
  z-index: 99999;
  top: 5px;
  right: 5px;

  &:hover {
    opacity: .8;
  }

  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

* > button.wk-icon-button-add,
* > button.wk-icon-button-remove {
  opacity: 0;
}

*:hover > button.wk-icon-button-add,
*:hover > button.wk-icon-button-remove {
  opacity: 1;
}

@mixin wk-text-button {
  background: none;
  border: none;

  &:focus {
    outline:0;
  }

  font-size: $wk-button-font-size;
  font-weight: $wk-button-font-weight;
  color: $wk-button-color;

  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  padding: 0 20px;
}

button.wk-text-button-add,
button.wk-text-button-remove {
  @include wk-text-button;

  &:hover {
    opacity: .8;
  }

  // Leave space for cart button
  margin-left: 20px;
}

button.wk-text-button-remove {
  @include wk-heart-full-icon($wk-heart-color-button, 15px, 15px);
  &:before {
    left: 0;
  }
}

button.wk-text-button-add {
  @include wk-heart-empty-icon($wk-heart-color-button, 15px, 15px);
  &:before {
    left: 0;
  }
}

.wk-text-button,
button.wk-text-button,
a.wk-text-button {
  background: $wk-text-button-background;
  padding: 5px 10px;
  color: $wk-text-button-color;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: $wk-text-button-font-size;
  line-height: 14px;
  text-align: center;
  border: none;

  &:focus {
    outline:0;
  }

  &:hover {
    background: $wk-text-button-background-hover;
    color: $wk-text-button-color-hover;
  }
}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !TOOLBAR / DROPDOWN */
/*////////////////////////////////////////////////////////////////////////////*/

.wk-link {
  padding-left: 20px;

  &.wk-filled {
    @include wk-heart-full-icon($wk-heart-color-header, 15px, 15px);
    &:before {
      left: 0;
      margin-top: -2px;
    }
  }
  &.wk-empty {
    @include wk-heart-empty-icon($wk-heart-color-header, 15px, 15px);
    &:before {
      left: 0;
      margin-top: -2px;
    }
  }
}

.wk-empty .wk-count {
  display: none;
}

#wk-dropdown-wrapper {
  background: $wk-dropdown-background;
  position: absolute;
  top: 100%;
  left: -130px;
  width: 301px;
  z-index: 9999;
  color: $wk-dropdown-color;
  border: $wk-dropdown-border;
  padding: 17px;
  border-radius: $wk-dropdown-border-radius;
  display: none;
}

.wk-dropdown-toggle {
  position: relative;
  margin-right: 6px;

  &:hover #wk-dropdown-wrapper {
    display: block;
  }
}

.wk-variant-image {
  max-width: 100%;
  max-height: 100%;
}

.wk-dropdown {
  width: 100%;
  margin: 0;
  overflow: hidden;

  li.wk-dropdown-item {
    background: none;
    margin-bottom: 13px !important;
    width: 100%;
    border-bottom: $wk-dropdown-item-border-bottom;
    padding: 0 0 13px 0 !important;
    line-height: 1 !important;
    display: block;
    white-space: normal;

    &:hover {
      opacity: .8;
    }

    p.wk-dd-title,
    p.wk-dd-price {
      margin: 0;
    }

    .wk-dropdown-thumb {
      float: left;
      width: 35%;
      margin: 0 12px 0 0;
      padding: 0;
      opacity: 1;

      &:hover {
        opacity: 1;
      }

    }

    .wk-dropdown-details {

      p.wk-dd-price {
        font-size: .9em;
        font-style: italic;
        color: $wk-dropdown-price-color;
      }

    }

  }

}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !WISHLIST PAGE */
/*////////////////////////////////////////////////////////////////////////////*/

.wk-row {
  @include wk-clearfix;
  display: block;
  margin: 0 0 30px 0;

  >* {
    box-sizing: border-box;
  }
}

.wk-span3 {
  width: 25%;
  padding: 0 1.5%;
  float: left;
}

.wk-span4 {
  width: 33.33%;
  padding: 0 1.5%;
  float: left;
}

.wk-span12 {
  width: auto;
  display: block;
  padding: 0 15px;
}

.wk-item {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  font-size: 15px;

  .wk-variant-link {
    line-height: 22px;
    display: block;
    color: $wk-page-title-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .wk-price {
    color: $wk-page-price-color;
    opacity: 0.7;
  }

  .wk-image {
    @include wk-aspect-ratio($wk-image-ratio-width, $wk-image-ratio-height);
    position: relative;
  }

  .wk-product-options {
    border-bottom: none;
  }

  select {
    width: 100%;
    border-radius: 0;
    max-width: 200px;
  }

  .wk-purchase-section {
    margin-top: 10px;
  }
}

.wk-add-item-form {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;

  background: $wk-variant-form-background;
  padding: 10px;
  opacity: 0;

  -webkit-transition: opacity .5s;
  transition: opacity .5s;

  .wk-add-to-cart {
    height: 36px;
    line-height: 36px;
    border: none;
    margin: 0;
    padding: 0 20px;
    color: $wk-add-to-cart-color;
    font-weight: $wk-add-to-cart-font-weight;
    font-size: $wk-add-to-cart-font-size;
    background: $wk-add-to-cart-background;
    width: auto;
  }
}

.wk-item:hover {
  .wk-add-item-form {
    opacity: 1;
  }
}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !Wishlist Mobile */
/*////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 1024px) {
  button.wk-icon-button-add,
  button.wk-icon-button-remove {
    opacity: 1;
  }
}

@media (max-width: 720px) {
  .wk-span3, .wk-span4 {
    width: 50%;
    padding: 0 1.5%;
  }
}

@media (max-width: 480px) {

  .wk-span3, .wk-span4 {
    width: 100%;
    padding: 0 1.5%;
  }

  .wk-dropdown-toggle {
    &:hover #wk-dropdown-wrapper {
      display: none;
    }
  }

  #wishlist-king h1 {
    text-align: center;
  }

}
