$cl-note-background: #f45b4f;
$cl-note-color: #ffffff;
$cl-note-font-size: 13px;

$cl-button-background: #333333;
$cl-button-background-hover: #444444;
$cl-button-color: #ffffff;
$cl-button-font-size: 13px;

.cl-cookie-note {
  background: $cl-note-background;
  width: 100%;
  text-align: center;
  font-size: $cl-note-font-size;
  color: $cl-note-color;
  padding: 10px 0 13px 0;

  p {
    margin: 0 0 5px 0;
    padding: 0;

    &:last-child {
      margin: 0;
      text-transform: uppercase;
    }
  }

  a {
    color: $cl-note-color;
    text-decoration: underline;
  }
}

.cl-dismiss-note {
  background: $cl-button-background;
  color: $cl-button-color;
  border: none;
  border-radius: 5px;
  padding: 3px 6px;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;

  &:hover {
    background: $cl-button-background-hover;
  }

}

.cl-visually-hidden {
  display: block;
  height: 0;
  text-indent: -9999px;
}
