// Colors
$wk-heart-full-color: 'rgb(66,66,66)';
$wk-heart-empty-color: 'rgb(66,66,66)';

// Heart Icons
$wk-heart-full-svg: "%3Csvg%20version%3D'1.1'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'64'%20height%3D'64'%20viewBox%3D'0%200%2064%2064'%3E%3Cpath%20d%3D'M47.199%204c-6.727%200-12.516%205.472-15.198%2011.188-2.684-5.715-8.474-11.188-15.201-11.188-9.274%200-16.8%207.527-16.8%2016.802%200%2018.865%2019.031%2023.812%2032.001%2042.464%2012.26-18.536%2031.999-24.2%2031.999-42.464%200-9.274-7.527-16.802-16.801-16.802z'%20fill%3D'#{$wk-heart-full-color}'%3E%3C%2Fpath%3E%3C%2Fsvg%3E";

$wk-heart-empty-svg: "%3Csvg%20version%3D'1.1'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'64px'%20height%3D'60.833px'%20viewBox%3D'0%200%2064%2060.833'%3E%3Cpath%20stroke%3D'#{$wk-heart-empty-color}'%20stroke-width%3D'5'%20stroke-miterlimit%3D'10'%20fill-opacity%3D'0'%20d%3D'M45.684%2C2.654c-6.057%2C0-11.27%2C4.927-13.684%2C10.073%20c-2.417-5.145-7.63-10.073-13.687-10.073c-8.349%2C0-15.125%2C6.776-15.125%2C15.127c0%2C16.983%2C17.134%2C21.438%2C28.812%2C38.231%20c11.038-16.688%2C28.811-21.787%2C28.811-38.231C60.811%2C9.431%2C54.033%2C2.654%2C45.684%2C2.654z'%2F%3E%3C%2Fsvg%3E";
    
@mixin wk-svg-icon($svg, $width: 100%, $height: auto){
    background-image: url("data:image/svg+xml;charset=UTF-8,#{$svg}");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: $width $height;
}

@mixin wk-hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@mixin wk-clearfix {
    clear: both;
    overflow: hidden;
}

@mixin wk-aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .wk-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.wk-centered {
    text-align: center;
}

.wk-block {
    display: block;
}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !BUTTONS
/*////////////////////////////////////////////////////////////////////////////*/

@mixin wk-button {
    background: none;
    border: none;

    &:focus {
        outline:0;
    }

    font-size: 13px;
    font-weight: 700;
    color: #333333;

    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    padding: 0 20px;
}

@mixin wk-icon-button {
    @extend .wk-button;
    @include wk-hide-text;

    background-color: rgba(0,0,0,0.1);
    background-position: center center;
    border: none;
    border-radius: 50%;

    width: 25px;
    height: 24px;

    padding: 0;
    margin: 0;
}

.wk-button-remove {
    @include wk-button;
    @include wk-svg-icon($wk-heart-full-svg, 15px, 15px);
    background-position: left center;

    &:hover {
	   /*@include wk-button;
	   @include wk-svg-icon($wk-heart-empty-svg, 15px, 15px);
	   background-position: left center;*/
	   opacity: .8;
    }
}

.wk-button-add {
    @include wk-button;
    @include wk-svg-icon($wk-heart-empty-svg, 15px, 15px);
    background-position: left center;

    &:hover {
	   /*@include wk-button;
	   @include wk-svg-icon($wk-heart-full-svg, 15px, 15px);
	   background-position: left center;*/
	   opacity: .8;
    }
}

.wk-text-button,
a.wk-text-button {
    background: #333;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    border: none;

    &:focus {
        outline:0;
    }

    &:hover {
        background: #555;
        color: #FFF;
    }
}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !COLLECTION */
/*////////////////////////////////////////////////////////////////////////////*/

.product,
.wk-item {
    position: relative;

    .wk-button-add,
    .wk-button-remove {
        @include wk-icon-button;

        position: absolute;
        top: 5px;
        right: 5px;
    }

    .wk-button-add {
        opacity: 0;
    }

    &:hover .wk-button-add {
        opacity: 1;
    }

    .sale {
	    display: none;
    }

    .saleprice {
	    color: #ff493c;
    }
}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !PRODUCT */
/*////////////////////////////////////////////////////////////////////////////*/

#product {
    .wk-button-add,
    .wk-button-remove {
        margin-left: 20px;
    }
}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !TOOLBAR / DROPDOWN */
/*////////////////////////////////////////////////////////////////////////////*/

.wk-link {
    padding-left: 20px;

    &.wk-filled {
        @include wk-svg-icon($wk-heart-full-svg, 15px, 15px);
        background-position: top left;
    }
    &.wk-empty {
        @include wk-svg-icon($wk-heart-empty-svg, 15px, 15px);
        background-position: top left;
    }
}

.wk-empty .wk-count {
    display: none;
}

#wk-dropdown-wrapper {
    background: #FFF;
    position: absolute;
    top: 50px;
    right: -71px;
    width: 301px;
    z-index: 9999;
    color: #555555;
    border: 1px solid #dedede;
    padding: 17px;
    border-radius: 4px;
    display: none;
}

.wk-dropdown-toggle {
    position: relative;
    margin-right: 6px;

    &:hover #wk-dropdown-wrapper {
        display: block;
    }
}

.wk-dropdown {
    width: 100%;
    margin: 0;

    li {
        background: none;
        margin-bottom: 13px !important;
        width: 100%;
        border-bottom: 1px solid #eee;
        padding: 0 0 13px 0 !important;
        line-height: 1 !important;
        float: none !important;
        display: inline-block;

        &:hover {
            opacity: .8;
        }

        p {
            margin: 0;
        }

        .wk-dropdown-thumb {
            float: left;
            width: 35%;
            margin: 0 12px 0 0;
            padding: 0;
            opacity: 1;

            &:hover {
                opacity: 1;
            }

        }

        .wk-dropdown-details {

            p.wk-dd-price {
                font-size: .9em;
                font-style: italic;
                color: #999;
            }

        }

    }

}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !WISHLIST PAGE */
/*////////////////////////////////////////////////////////////////////////////*/

.wk-row {
    @include wk-clearfix;
    display: block;
    margin: 0 0 30px 0;
}

.wk-span3 {
    width: 22%;
    padding: 0 1.5%;
    float: left;
}

.wk-span4 {
    width: 30.33%;
    padding: 0 1.5%;
    float: left;
}

.wk-span12 {
    width: auto;
    display: block;
    padding: 0 15px;
}

.wk-item {

    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
    
    .wk-variant-link {
        line-height: 22px;
        display: block;
        color: #333333;
    }
    
    .wk-price {
        color: #555555;
        opacity: 0.7;
    }

    .wk-image {
        @include wk-aspect-ratio(1,1);
        position: relative;

        img {
            width: 100%;
        }

    }

    .wk-product-options {
        border-bottom: none;
    }

    select {
        width: 100%;
        height: 30px;
        line-height: 30px;
        border-radius: 0;
        max-width: 200px;
    }

    .wk-purchase h2.wk-price {
        margin: 0 0 7px;
        font-size: 18px !important;
    }

    .wk-purchase-section {
        margin-top: 10px;
    }
}

.wk-add-item-form {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 20px;
    right: 20px;

    background: rgba(255,255,255,.95);
    padding: 10px;
    opacity: 0;

    -webkit-transition: opacity .5s;
    transition: opacity .5s;

    .wk-add-to-cart {
        height: 36px;
        line-height: 36px;
        border: none;
        margin: 0;
        padding: 0 20px;
        color: #ffffff;
        font-weight: 700;
        font-size: 13px;
        background: #f45b4f;
        width: auto;
    }
}

.wk-item:hover {
    .wk-add-item-form {
        opacity: 1;
    }
}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !Wishlist Mobile */
/*////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 720px) {
    .wk-span4, .wk-span4 {
        width: 47%;
        padding: 0 1.5%;
    }
}

@media (max-width: 480px) {
    
    .wk-span4, .wk-span4 {
        width: 97%;
        padding: 0 1.5%;
    }
    
    ul.topbarlist {
        
        text-align: center;
        margin: 0 auto;
        
        li {
           float: none !important;
           display: inline-block !important;
           padding: 0 5px;
           
           &.toolbar-customer {
               font-size: 14px;
           }
           
           &.search-field {
               display: none !important;
           } 
           
        }        
        
    }
    
    .logo {
        padding: 0 0 30px 0;
    }
    
    .product,
    .wk-item {
    
        .wk-button-add {
            opacity: 1;
        }
    
        &:hover .wk-button-add {
            opacity: 1;
        }
        
        .wk-button-remove {
            opacity: 1;    
        }
        
        &:hover .wk-button-remove {
            opacity: 1;
        }
    
    }
    
    .wk-dropdown-toggle {
    
        &:hover #wk-dropdown-wrapper {
            display: none;
        }
        
    }
    
    .breadcrumb {
        display: none;
    }
    
    .product-options select {
        width: 100%;
    }
    
    #wishlist-king h1 {
        text-align: center;
    }
    
}

























