// Colors
$heart-full-color: #444;
$heart-empty-color: #444;

// Heart Icons
$heart-full-svg: '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64" viewBox="0 0 64 64"><path d="M47.199 4c-6.727 0-12.516 5.472-15.198 11.188-2.684-5.715-8.474-11.188-15.201-11.188-9.274 0-16.8 7.527-16.8 16.802 0 18.865 19.031 23.812 32.001 42.464 12.26-18.536 31.999-24.2 31.999-42.464 0-9.274-7.527-16.802-16.801-16.802z" fill="#{$heart-full-color}"></path></svg>';
$heart-empty-svg: '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="64px" height="60.833px" viewBox="0 0 64 60.833"><path stroke="#{$heart-empty-color}" stroke-width="5" stroke-miterlimit="10" fill-opacity="0" d="M45.684,2.654c-6.057,0-11.27,4.927-13.684,10.073 c-2.417-5.145-7.63-10.073-13.687-10.073c-8.349,0-15.125,6.776-15.125,15.127c0,16.983,17.134,21.438,28.812,38.231 c11.038-16.688,28.811-21.787,28.811-38.231C60.811,9.431,54.033,2.654,45.684,2.654z"/></svg>';


@mixin svg-icon($svg){
    background: url('data:image/svg+xml;utf8,#{$svg}') center center no-repeat;
    background-size: 100% auto;
}

.invisible {
	display: block;
	height: 0;
	text-indent: -9999px;
}

.clear {
	clear: both;
}



/*/////////////////////////////////////////////////////////////////////////////*/
/* !Toolbar / Dropdown */
/*////////////////////////////////////////////////////////////////////////////*/

.wk-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.wk-heart-full {
    @extend .wk-icon;
    @include svg-icon($heart-full-svg);
}

.wk-heart-empty {
    @extend .wk-icon;
    @include svg-icon($heart-empty-svg);
}

li.wk-dropdown-toggle .wk-heart-full,
li.wk-dropdown-toggle .wk-heart-empty {
	margin-right: 6px;
}

#wk-dropdown-wrapper {
	background: #FFF;
	position: absolute;
    top: 50px;
    right: -71px;
    width: 301px;
    z-index: 9999;
    color: #555555;
    border: 1px solid #dedede;
    padding: 17px;
    border-radius: 4px;
	display: none;
}

.wk-dropdown-toggle {
	position: relative;
	
	&:hover #wk-dropdown-wrapper {
		display: block;
	}
	
}

ul.wk-dropdown {
	
	width: 100%;
	margin: 0;
		
	li {
		background: none;
		margin-bottom: 13px !important;
		width: 100%;
		border-bottom: 1px solid #eee;
		padding: 0 0 13px 0 !important;
		line-height: 1 !important;
		float: none !important;
		display: inline-block;
		
		&:hover {
			opacity: .8;
		}
		
		p {
			margin: 0;
		}
		
		.wk-dropdown-thumb {
			    float: left;
			    width: 35%;
			    margin: 0 12px 0 0;
			    padding: 0;
			    opacity: 1;
			
			&:hover {
				opacity: 1;
			}
			
		}
		
		.wk-dropdown-details {
			
			p.wldd-price {
				font-size: .9em;
				font-style: italic;
				color: #999;
			}
			
		}	
		
	}
	
}

.wk-dropdown-view-all {
	background: #333;
	padding: 5px 10px;
	color: #fff !important;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
	display: block;
	line-height: 14px;
	text-align: center;
	
	&:hover {
		background: #555;
		color: #FFF;	
	}
	
}



/*/////////////////////////////////////////////////////////////////////////////*/
/* !COLLECTION */
/*////////////////////////////////////////////////////////////////////////////*/

.product .image {
	position: relative;
}

.wk-toggle-collection,
.wishlist-remove-button {
	background: rgba(0,0,0,0.1);
	position: absolute;
	top: 5px;
	right: 5px;
	color: #fff !important;
	font-size: 12px;
	padding: 0;
	margin: 0 !important;
	width: 22px;
	height: 22px;
	line-height: 22px;
	border-radius: 10px;
	text-align: center;
	opacity: 0;
  	/* Animations */
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	
	.wk-heart-full,
	.wk-heart-empty {
		margin-top: 4px;
		width: 14px;
		height: 14px;
	}
	
}

.product .image:hover .wk-toggle-collection,
.product .image:hover .wishlist-remove-button,
.wk-added {
	opacity: 1;
}



/*/////////////////////////////////////////////////////////////////////////////*/
/* !PRODUCT */
/*////////////////////////////////////////////////////////////////////////////*/

body.template-product .purchase-section {
	float: left;	
}

.wk-toggle-product {
	margin: 7px 0 0 25px;
    display: block;
    float: left;
    color: #666;
}



/*/////////////////////////////////////////////////////////////////////////////*/
/* !WISHLIST PAGE */
/*////////////////////////////////////////////////////////////////////////////*/

.wishlist-item {
	
	text-align: center;
	
	.image {
		position: relative;
		
		&:hover .wishlist-remove-button {
			opacity: 1;
		}
		
		img {
			width: 100%;
		}
		
	}
	
	.product-options {
		border-bottom: none;
	}

	select {
		width: 100%;
	    height: 40px;
	    line-height: 40px;
	    border-radius: 0;
	}
	
	.purchase h2.price {
    	margin: 0 0 7px;
    	font-size: 18px !important;
	}
	
}



/*/////////////////////////////////////////////////////////////////////////////*/
/* !Wishlist Mobile */
/*////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 720px) {

	.wk-page-listing .product-list-item {
		width: 100%;
		min-width: 0 !important;
	}
	
	.wk-page-listing .select-wrapper, 
	.filter {
		padding: 10px 34px 7px 10px;
		text-align: left;
		font-size: 12px;
		white-space: nowrap;
		overflow: hidden;
	}
	
	/* Collection */
	
	body.template-collection .container,
	body.template-page .container {
		padding: 0 !important;
	}
	
	body.template-collection .rows-of-4 .product-list-item,
	body.template-page .rows-of-4 .product-list-item {
		width: 100% !important;
		min-width: 0 !important;
		padding: 0 0 !important;
		margin: 0 0 35px 0 !important;
	}
	
	body.template-collection .product-listing,
	body.template-page .product-listing {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	
	body.template-collection .product-list-item .thumbnail,
	body.template-page .product-list-item .thumbnail {
		margin-bottom: 15px;
	}
	
	body.template-collection .breadcrumbs {
		margin-bottom: 0px;
	}
	
	body.template-collection .page-header {
		padding-bottom: 18px;
	}
	
	body.template-page .page-content {
		margin: 0;
	}
	
	body.template-page .product-variants {
		padding: 0 10px;
	}
	
	/* left right margin fix on other pages */
	body.template-page header.page-header {
		margin-left: 30px;
		margin-right: 30px;
	}
	
	.wk-toggle-collection, .wishlist-remove-button {
		top: 4px;
		right: 3px;
		font-size: 15px;
		padding: 1px 0 0 0px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 15px;
		opacity: 1;
	}
	
	
}

@media (max-width: 480px) {

	.wk-page-listing .product-list-item {
		width: 100%;
	}
	
}