// Colors
$wk-heart-full-color: #444;
$wk-heart-empty-color: #444;

// Heart Icons
$wk-heart-full-svg: '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><path d="M47.199 4c-6.727 0-12.516 5.472-15.198 11.188-2.684-5.715-8.474-11.188-15.201-11.188-9.274 0-16.8 7.527-16.8 16.802 0 18.865 19.031 23.812 32.001 42.464 12.26-18.536 31.999-24.2 31.999-42.464 0-9.274-7.527-16.802-16.801-16.802z" fill="#{$wk-heart-full-color}"></path></svg>';

$wk-heart-empty-svg: '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="64px" height="60.833px" viewBox="0 0 64 60.833"><path stroke="#{$wk-heart-empty-color}" stroke-width="5" stroke-miterlimit="10" fill-opacity="0" d="M45.684,2.654c-6.057,0-11.27,4.927-13.684,10.073 c-2.417-5.145-7.63-10.073-13.687-10.073c-8.349,0-15.125,6.776-15.125,15.127c0,16.983,17.134,21.438,28.812,38.231 c11.038-16.688,28.811-21.787,28.811-38.231C60.811,9.431,54.033,2.654,45.684,2.654z"/></svg>';


@mixin wk-svg-icon($svg, $width: 100%, $height: auto){
    background-image: url('data:image/svg+xml;utf8,#{$svg}');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: $width $height;
}

@mixin wk-hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@mixin wk-clearfix {
    clear: both;
    overflow: hidden;
}

@mixin wk-aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .wk-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.wk-centered {
    text-align: center;
}

.wk-block {
    display: block;
}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !Butons
/*////////////////////////////////////////////////////////////////////////////*/

@mixin wk-button {
    background: none;
    border: none;

    &:focus {
        outline:0;
    }

    font-size: 13px;
    font-weight: 700;
    color: #333333;

    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    padding: 0 20px;
}

@mixin wk-icon-button {
    @extend .wk-button;
    @include wk-hide-text;

    background-color: rgba(0,0,0,0.1);
    background-position: center center;
    border: none;
    border-radius: 50%;

    width: 25px;
    height: 24px;

    padding: 0;
    margin: 0;
}

.wk-button-remove {
    @include wk-button;
    @include wk-svg-icon($wk-heart-full-svg, 15px, 15px);
    background-position: left center;
    
    &:hover {
	   @include wk-button;
	   @include wk-svg-icon($wk-heart-empty-svg, 15px, 15px);
	   background-position: left center; 
    }
}

.wk-button-add {
    @include wk-button;
    @include wk-svg-icon($wk-heart-empty-svg, 15px, 15px);
    background-position: left center;
    
    &:hover {
	   @include wk-button;
	   @include wk-svg-icon($wk-heart-full-svg, 15px, 15px);
	   background-position: left center; 
    }
}

.wk-text-button,
a.wk-text-button {
    background: #333;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    border: none;

    &:focus {
        outline:0;
    }

    &:hover {
        background: #555;
        color: #FFF;
    }
}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !Collection */
/*////////////////////////////////////////////////////////////////////////////*/

.product,
.wk-item {
    position: relative;

    .wk-button-add,
    .wk-button-remove {
        @include wk-icon-button;

        position: absolute;
        top: 5px;
        right: 5px;
    }

    .wk-button-add {
        opacity: 0;
    }

    &:hover .wk-button-add {
        opacity: 1;
    }
    
    .sale {
	    display: none;
    }
    
    .saleprice {
	    color: #f45b4f;
    }
}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !Product */
/*////////////////////////////////////////////////////////////////////////////*/

#product {
    .wk-button-add,
    .wk-button-remove {
        margin-left: 20px;
    }
}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !Toolbar / Dropdown */
/*////////////////////////////////////////////////////////////////////////////*/

.wk-link {
    padding-left: 20px;

    &.wk-filled {
        @include wk-svg-icon($wk-heart-full-svg, 15px, 15px);
        background-position: top left;
    }
    &.wk-empty {
        @include wk-svg-icon($wk-heart-empty-svg, 15px, 15px);
        background-position: top left;
    }
}

.wk-empty .wk-count {
    display: none;
}

#wk-dropdown-wrapper {
    background: #FFF;
    position: absolute;
    top: 50px;
    right: -71px;
    width: 301px;
    z-index: 9999;
    color: #555555;
    border: 1px solid #dedede;
    padding: 17px;
    border-radius: 4px;
    display: none;
}

.wk-dropdown-toggle {
    position: relative;
    margin-right: 6px;

    &:hover #wk-dropdown-wrapper {
        display: block;
    }
}

.wk-dropdown {
    width: 100%;
    margin: 0;

    li {
        background: none;
        margin-bottom: 13px !important;
        width: 100%;
        border-bottom: 1px solid #eee;
        padding: 0 0 13px 0 !important;
        line-height: 1 !important;
        float: none !important;
        display: inline-block;

        &:hover {
            opacity: .8;
        }

        p {
            margin: 0;
        }

        .wk-dropdown-thumb {
            float: left;
            width: 35%;
            margin: 0 12px 0 0;
            padding: 0;
            opacity: 1;

            &:hover {
                opacity: 1;
            }

        }

        .wk-dropdown-details {

            p.wk-dd-price {
                font-size: .9em;
                font-style: italic;
                color: #999;
            }

        }

    }

}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !WISHLIST PAGE */
/*////////////////////////////////////////////////////////////////////////////*/
.wk-row {
    @include wk-clearfix;
    display: block;
    margin: 0 0 30px 0;
}

.wk-span3 {
    width: 22%;
    padding: 0 1.5%;
    float: left;
}

.wk-span4 {
    width: 30.33%;
    padding: 0 1.5%;
    float: left;
}

.wk-span12 {
    width: auto;
    display: block;
    padding: 0 15px;
}

.wk-item {

    text-align: center;
    margin-bottom: 30px;

    .wk-image {
        @include wk-aspect-ratio(1,1);
        position: relative;

        img {
            width: 100%;
        }

    }

    .wk-product-options {
        border-bottom: none;
    }

    select {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-radius: 0;
        max-width: 240px;
    }

    .wk-purchase h2.wk-price {
        margin: 0 0 7px;
        font-size: 18px !important;
    }

    .wk-purchase-section {
        margin-top: 10px;
    }
}

.wk-add-to-cart {
    height: 36px;
    line-height: 36px;
    border: none;
    margin: 0;
    padding: 0 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    background: #f45b4f;
    width: auto;
}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !Wishlist Mobile */
/*////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 720px) {
    .wk-span4, .wk-span4 {
        width: 47%;
        padding: 0 1.5%;
    }
}

@media (max-width: 480px) {
    .wk-span4, .wk-span4 {
        width: 97%;
        padding: 0 1.5%;
    }
}
