/*/////////////////////////////////////////////////////////////////////////////*/
/* !Style Settings */
/*////////////////////////////////////////////////////////////////////////////*/

/* -- Wishlist button collection -- */
$wk-button-collection-icon-color: 'rgb(66,66,66)';
$wk-button-collection-backgrund-color: rgba(0,0,0,0.1);

/* -- Wishlist button product -- */
$wk-button-product-icon-color: 'rgb(66,66,66)';
$wk-button-product-text-color: #333333;
$wk-button-product-icon-size: 15px;

/* -- Wishlist button wishlist page -- */
$wk-button-wishlist-page-icon-color: 'rgb(66,66,66)';
$wk-button-wishlist-page-backgrund-color: rgba(0,0,0,0.1);
$wk-button-wishlist-page-icon-size: 15px;

/* -- Clear wishlist button (on wishlist page) -- */
$wk-button-wishlist-clear-background: #333333;
$wk-button-wishlist-clear-text-color: #ffffff;
$wk-button-wishlist-clear-background-hover: #555555;
$wk-button-wishlist-clear-text-color-hover: #ffffff;

/* -- Wishlist link (in header) -- */
$wk-header-link-icon-color: 'rgb(66,66,66)';
$wk-header-link-icon-color-hover: 'rgb(66,66,66)';
$wk-header-link-icon-size: 15px;

/* -- Wishlist page -- */
$wk-page-price-color: #555555;
$wk-page-title-color: #333333;
$wk-variant-form-background: rgba(255,255,255,0.95);
$wk-add-to-cart-background: #333333;
$wk-add-to-cart-color: #ffffff;


/*/////////////////////////////////////////////////////////////////////////////*/
/* !Mixins */
/*////////////////////////////////////////////////////////////////////////////*/

@mixin wk-hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin wk-clearfix {
  clear: both;
  overflow: hidden;
}

@mixin wk-button($text-color: #000, $background-color: rgba(0,0,0,0)) {
  width: auto;
  height: auto;
  background: none;
  border: none;
  line-height: normal;
  cursor: pointer;
  color: $text-color;
  background: $background-color;

  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: row;

  &:focus {
    outline:0;
  }
}

@mixin wk-icon-button($backgrund-color, $width: 25px, $height: 25px) {
  @include wk-button(#000, $backgrund-color);

  .wk-label {
    display: none;
  }

  border-radius: 50%;
  width: $width;
  height: $height;
  padding: 0;
  margin: 0;
}

@mixin wk-text-button($text-color, $background-color: rgba(0,0,0,0)) {
  @include wk-button($text-color, $background-color);
}

@mixin wk-svg-icon($svg, $width, $height, $position: absolute){
  &:before {
    content: '';
    display: inline-block;
    width: $width;
    height: $height;
    background-image: url("data:image/svg+xml;charset=UTF-8,#{$svg}");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;

    position: $position;
    @if $position == absolute {
      left: calc(50% - #{$width} * .5);
      top: calc(50% - #{$height} * .5);
    }
    @else {
      margin-right: 5px;
    }
  }
}

@mixin wk-heart-full-icon($color, $width: 15px, $height: 15px, $position: absolute) {
  $wk-heart-full-svg: "%3Csvg%20version%3D'1.1'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'64'%20height%3D'64'%20viewBox%3D'0%200%2064%2064'%3E%3Cpath%20d%3D'M47.199%204c-6.727%200-12.516%205.472-15.198%2011.188-2.684-5.715-8.474-11.188-15.201-11.188-9.274%200-16.8%207.527-16.8%2016.802%200%2018.865%2019.031%2023.812%2032.001%2042.464%2012.26-18.536%2031.999-24.2%2031.999-42.464%200-9.274-7.527-16.802-16.801-16.802z'%20fill%3D'#{$color}'%3E%3C%2Fpath%3E%3C%2Fsvg%3E";

  @include wk-svg-icon($wk-heart-full-svg, $width, $height, $position);
}

@mixin wk-heart-empty-icon($color, $width: 15px, $height: 15px, $position: absolute) {
  $wk-heart-empty-svg: "%3Csvg%20version%3D'1.1'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'64px'%20height%3D'60.833px'%20viewBox%3D'0%200%2064%2060.833'%3E%3Cpath%20stroke%3D'#{$color}'%20stroke-width%3D'5'%20stroke-miterlimit%3D'10'%20fill-opacity%3D'0'%20d%3D'M45.684%2C2.654c-6.057%2C0-11.27%2C4.927-13.684%2C10.073%20c-2.417-5.145-7.63-10.073-13.687-10.073c-8.349%2C0-15.125%2C6.776-15.125%2C15.127c0%2C16.983%2C17.134%2C21.438%2C28.812%2C38.231%20c11.038-16.688%2C28.811-21.787%2C28.811-38.231C60.811%2C9.431%2C54.033%2C2.654%2C45.684%2C2.654z'%2F%3E%3C%2Fsvg%3E";

  @include wk-svg-icon($wk-heart-empty-svg, $width, $height, $position);
}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !Buttons */
/*////////////////////////////////////////////////////////////////////////////*/

button.wk-button-collection {
  @include wk-icon-button($wk-button-collection-backgrund-color, 25px, 25px);
  &.wk-add-product {
    @include wk-heart-empty-icon($wk-button-collection-icon-color, 15px, 15px);
  }
  &.wk-remove-product {
    @include wk-heart-full-icon($wk-button-collection-icon-color, 15px, 15px);
  }

  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;

  &:hover {
    opacity: .8;
  }

  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

* > button.wk-button-collection.wk-add-product {
  opacity: 0;
}

*:hover > button.wk-button-collection {
  opacity: 1;
}

button.wk-button-product {
  @include wk-text-button($wk-button-product-text-color);
  &.wk-add-product {
    @include wk-heart-empty-icon($wk-button-product-icon-color, $wk-button-product-icon-size, $wk-button-product-icon-size, relative);
  }
  &.wk-remove-product {
    @include wk-heart-full-icon($wk-button-product-icon-color, $wk-button-product-icon-size, $wk-button-product-icon-size, relative);
  }

  margin-bottom: 1em;

  &:hover {
    opacity: .8;
  }
}

button.wk-button-wishlist-page {
  @include wk-icon-button($wk-button-wishlist-page-backgrund-color, 25px, 25px);
  &.wk-add-product {
    @include wk-heart-empty-icon($wk-button-wishlist-page-icon-color, $wk-button-wishlist-page-icon-size, $wk-button-wishlist-page-icon-size);
  }
  &.wk-remove-product,
  &.wk-remove-item {
    @include wk-heart-full-icon($wk-button-wishlist-page-icon-color, $wk-button-wishlist-page-icon-size, $wk-button-wishlist-page-icon-size);
  }

  position: absolute;
  z-index: 5;
  top: 5px;
  right: 5px;

  &:hover {
    opacity: .8;
  }

  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

button.wk-button-wishlist-clear {
  @include wk-button($wk-button-wishlist-clear-text-color, $wk-button-wishlist-clear-background);
  border-radius: 5px;
  padding: 3px 20px;
  text-align: center;
  margin: 5px auto;
  width: auto;

  &:hover {
    background: $wk-button-wishlist-clear-background-hover;
    color: $wk-button-wishlist-clear-text-color-hover;
  }
}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !Wishlist Link in header / top bar */
/*////////////////////////////////////////////////////////////////////////////*/

a.wk-link {
  vertical-align: middle;

  &.wk-filled {
    @include wk-heart-full-icon($wk-header-link-icon-color, $wk-header-link-icon-size, $wk-header-link-icon-size, relative);
  }
  &.wk-empty {
    @include wk-heart-empty-icon($wk-header-link-icon-color, $wk-header-link-icon-size, $wk-header-link-icon-size, relative);
  }

  &:hover {
    &.wk-filled {
      @include wk-heart-full-icon($wk-header-link-icon-color-hover, $wk-header-link-icon-size, $wk-header-link-icon-size, relative);
    }
    &.wk-empty {
      @include wk-heart-empty-icon($wk-header-link-icon-color-hover, $wk-header-link-icon-size, $wk-header-link-icon-size, relative);
    }
  }

  .wk-label {

  }

  .wk-count {

  }

  &.wk-empty {
    .wk-count {
      display: none;
    }
  }
}

.wk-variant-image {
  max-width: 100%;
  max-height: 100%;
}

/*/////////////////////////////////////////////////////////////////////////////*/
/* !Grid System */
/*////////////////////////////////////////////////////////////////////////////*/

.wk-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  box-sizing: border-box;
}

.wk-span2 { width: 16.6666%; }
.wk-span3 { width: 25%; }
.wk-span4 { width: 33.3333%; }
.wk-span6 { width: 50%; }
.wk-span12 { width: 100%; }

@media (max-width: 720px) {
  .wk-span2 { width: 33.3333%; }
  .wk-span3 { width: 50%; }
  .wk-span4 { width: 50%; }
  .wk-item-column { width: 50% !important; }
}

@media (max-width: 480px) {
  .wk-span2 { width: 100%; }
  .wk-span3 { width: 100%; }
  .wk-span4 { width: 100%; }
  .wk-span6 { width: 100%; }
  .wk-item-column { width: 100% !important; }
}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !Wishlist Page */
/*////////////////////////////////////////////////////////////////////////////*/

.wk-wishlist-empty-note {
  text-align: center;
}

p.wk-login-note {
  text-align: center;
}

.wk-item {
  position: relative;
  text-align: center;

  margin: 0 10px 30px 5px;

  .wk-variant-link {
    display: block;
    float: none;
    text-decoration: none;
    color: $wk-page-title-color;
  }

  .wk-price {
    color: $wk-page-price-color;
  }

  .wk-product-options {
    border-bottom: none;

    label {
      display: block;
      text-align: center;
    }

    select {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-radius: 0;
      margin-bottom: 10px;
    }
  }

  .wk-purchase-section {
    margin-top: 1em;
  }
}

.wk-add-item-form {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;

  background: $wk-variant-form-background;
  padding: 10px;
  opacity: 0;

  -webkit-transition: opacity .5s;
  transition: opacity .5s;

  input.wk-add-to-cart {
    box-sizing: content-box;
    border: none;
    margin: 0;
    padding: 5px 20px;
    color: $wk-add-to-cart-color;
    background: $wk-add-to-cart-background;
    width: auto;
  }
}

.wk-item:hover {
  .wk-add-item-form {
    opacity: 1;
  }
}

/*/////////////////////////////////////////////////////////////////////////////*/
/* !Share Buttons */
/*////////////////////////////////////////////////////////////////////////////*/
.wk-button-share {
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__link {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
}

.resp-sharing-button {
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
}

.resp-sharing-button__icon svg {
  width: 15px;
  height: 15px;
}

.resp-sharing-button span {
  padding-left: 0.4em;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none;

  svg {
    position: relative;
    top: 2px;
  }
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373;
}

.resp-sharing-button--email {
  background-color: #777;
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}


/*/////////////////////////////////////////////////////////////////////////////*/
/* !Responsive Styles */
/*////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  button.wk-button-collection,
  button.wk-button-product {
    &.wk-add-product,
    &.wk-remove-product {
      opacity: 1;
    }
  }

  .wk-add-item-form {
    position: static;
    opacity: 1;
  }
}

@media (max-width: 480px) {

}
