.rv-cloak {
    display: none;
}

.loading {
    opacity: 0.5;
    cursor: default;
}

.wishlist.empty {
    color: #888888;
}

.wishlist-popover li {
    display: block;
    float: none;
    line-height: 100%;
}

.toolbar-wishlist {
    position: relative;
}

.wishlist-btn.added {
    color: blue;
}

.wishlist-popover {
	position: absolute;
    z-index: 100;
	top: 100%;

	width: 200px;

	background: white;

	display: none;
}

.toolbar-wishlist:hover .wishlist-popover {
	display: block;
}