{% comment %} // Uncomment if option_selection.js is missing
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{% endcomment %}

<div id="wishlist-king" class="wk-row">
  <div class="wk-span12">

    <h1 id="pagetitle">{{ page.title }}</h1>
    
    {{ page.content }}
	
    <h3 id="wk-share-head">Share Wishlist</h3>
    
    <ul id="wk-share-list">
      	<li><!-- include 'wishlist-share-button-fb' --></li>
      	<li><!-- include 'wishlist-share-button-pinterest' --></li>
      	<li><!-- include 'wishlist-share-button-twitter' --></li>
    	<li><!-- include 'wishlist-share-button-email' --></li>
    	<li><!-- include 'wishlist-share-button-whatsapp' --></li>
    </ul>
    
    <!-- include 'wishlist-collection' -->

  </div>

</div>
